    :root {
      --bg-color: #ffffff;
      --text-color: #2E5077;
      --textarea-bg: #d4f4ec;
      --textarea-text: #000000;
      --button-bg: #2E5077;
      --button-text: white;
    }

    @media (prefers-color-scheme: dark) {
      :root {
      --bg-color: #4DA1A9;
      --text-color: #2E5077;
      --textarea-bg: #79D7BE;
      --textarea-text: #fff;
      --button-bg: #2E5077;
      --button-text: white;
      }
    }

    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Google Sans', Arial;
      margin: 0;
      padding: 0;
      background-color: var(--bg-color);
      color: var(--text-color);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hidden {
      display: none;
    }

    #app, #login {
      width: 100%;
      max-width: 1000px;
      padding: 20px;
      display: none;
      flex-direction: column;
      align-items: center;
    }

    textarea {
      color: var(--textarea-text);
      background-color: var(--textarea-bg);
      width: 100%;
      height: 70vh;
      margin: 20px 0;
      padding: 20px;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      opacity: 0.85;
      resize: none;
    }

    textarea:hover {
      opacity: 1;
    }

    .status {
      font-size: 14px;
      color: var(--text-color);
    }

    h1, p {
      margin: 0;
      padding: 5px;
    }

    input {
      display: block;
      padding: 10px;
      margin: 10px auto;
      width: 250px;
      border-radius: 8px;
      border: none;
    }

    button {
      padding: 10px 20px;
      background-color: var(--button-bg);
      color: var(--button-text);
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #3b6a8a;
    }